@using WebAppen.Models;

@model List<PhotoVM>
@{
    ViewBag.Title = "Foto album";
}

<h1>@ViewBag.Title</h1>



<h3>Senaste bilder</h3>
<hr />
@{
    int i = 0;
}

<div class="row">

    @foreach (var photo in Model)
    {
    

            @Html.Partial("_AlbumPhoto", photo)

    
            }

        </div>

