@using WebAppen.Models;
@model PhotoVM

<p>
    @Model.Name

    <a href="@Url.Action("Details", "Photo", Model)">
        <img src="@Url.Content($"{Model.Path}")" alt="@Model.Description" class="thumbnail">
    </a>
</p>